@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #0d1117;
}

html{
    scroll-behavior: smooth;
}

.prose{
    padding: 20px;
    overflow-x:auto ;
    margin: 0 auto;
    max-width: 900px;
}

.prose *{
    color: white;
}

hr{
    opacity: 0.1;
}


.prose {
    padding: 20px;
    overflow-x: auto;
    margin: 0 auto;
    max-width: 900px;
    min-width: 0;
  }
  
  .prose * {
    color: white;
  }
  
  hr {
    opacity: 0.1;
  }
  
  .prose table {
    width: 100%;
    overflow-x: scroll;
    border-collapse: collapse;
  }
  
  .prose table,
  .prose td,
  .prose th {
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .prose th {
    font-weight: 600;
    text-align: center;
    padding: 0.5rem 1rem;
  }
  
  .prose td {
    padding: 0.7rem 1rem;
    text-align: center;
  }
  
  .prose tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.035);
  }
  
  .prose h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 10px;
  }
  
  .prose table thead {
    overflow: auto;
  }
  
  .prose a {
    width: 100%;
    white-space: normal;
    flex-wrap: wrap;
    text-wrap: balance;
    word-break: break-word;
  }
  
  .prose-link {
    color: #9be100;
    text-decoration: none;
  }
  
  .prose-link:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .prose code {
    padding: 3px 8px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 5px;
    border: 1px solid hsla(0, 0%, 100%, 0.1);
  }
  
  .prose code::before {
    content: '';
  }
  
  .prose code::after {
    content: '';
  }
  